* {
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon-logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.add-one{
    color: gray;
    font-size: 0.8rem;
}
.add-second{
    font-size: 1rem;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display: flex;
    background-color: bisque;
    height: 40px;
    width: 620px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 150, 32);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 1.2rem;
    color: black;
}
.nav-search:hover{
    border: 3px solid orange;
}

.sign-one{
    font-size: 12px;
}
.sign-second{
    font-weight:700;
}

.return-1{
    font-size: 12px;
}
.return-2{
    font-weight: 700;
}

.cart-icon{
    display: flex;
    font-weight: 700;
    width: 50px;
}

.panel{
    height: 40px;
    width: 1600px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.panel-option p{
    display: inline;
    margin-left: 15px;
}

.panel-option {
    width: 70%;
    font-size: 0.85rem;
}

.panels-deals{
    font-size: 0.9rem;
    font-weight: bold;
}

.hero-section{
    background-image: url(PC-hero-template_karigar-2x._CB772147212_.jpg);
    background-size: cover;
    height: 300px;
}

.shop-section {
    background-color: #f7f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.box {
    background-color: white;
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-image {
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

.foot-panel-1{
    background-color:#37475a ;
    color: white;
    height: 50px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 15px;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    display: flex;
    height: 400px;
    justify-content: space-evenly;

}

ul a{
    display:block;
    margin-top: 10px;
    font-size: 14px;
    color: #dddddd;
    
}

ul {
    margin-top: 30px;
}

.foot-panel-3{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 12px;
    text-align: center;
}

.page{
    padding-top: 25px;
    margin-top: 20px;
}

.copyright{
    padding-top: 5px;
}


